<BsForm
  local-class="metadata-form"
  @model={{this.metadataChangeset}}
  @novalidate={{true}}
  @onSubmit={{action this.saveMetadata}} as |form|>

  <form.element
    @controlType="text"
    @label="Collection Title"
    @placeholder="Collection Title"
    @property="collectionTitle" />

  <form.element
    @controlType="textarea"
    @label="Description"
    @placeholder="Description"
    @property="description" />

  <form.element
    @controlType="text"
    @label="Keywords"
    @placeholder="Keywords"
    @property="keywords" />

  <form.element
    @controlType="textarea"
    @label="Data Use"
    @placeholder="Data Use"
    @property="dataUse" />

  <form.element
    @controlType="textarea"
    @label="Software Use"
    @placeholder="Software Use"
    @property="softwareUse" />

  {{#each authorChangesets as |author index|}}
    <div class="d-flex flex-row align-items-center">

      <form.element
        local-class="with-validation-height"
        class="w-50 m-1"
        @controlType="text"
        @label="Author Name"
        @placeholder="Author Name"
        @model={{author}}
        @property="name"
        as |el|>

        <el.control
          class="input-lg"
          value={{author.name}}
        />
      </form.element>

      <form.element
        local-class="with-validation-height"
        class="w-50 m-1"
        @controlType="text"
        @label="Author Affiliation"
        @placeholder="Author Affiliation"
        @model={{author}}
        @property="affiliation" as |el|>

        <div class="d-flex flex-row">
          <el.control
            class="input-lg"
            value={{author.affiliation}} />

          {{#unless (eq @metadata.authors.length 1)}}
            <FaIcon
              class="text-danger m-2"
              @icon="trash"
              @size="1x"
              {{on "click" (fn this.removeAuthor author index)}} />
          {{/unless}}
        </div>
      </form.element>
    </div>

  {{/each}}


  <BsButton
    @defaultText="Save"
    @type="outline-primary"
    @buttonType="submit"
    @disabled={{form.isSubmitting}}>

    {{#if form.isSubmitting}}<div class="spinner-border spinner-border-sm" role="status" />{{/if}}
  </BsButton>
</BsForm>

<h4 class="mr-auto">Authors</h4>
<button
  class="btn btn-outline-primary"
  {{on "click" this.addAuthor}}>
  Add Author
</button>