<BsForm
  local-class="metadata-form"
  @model={{changeset this.args.metadata MetadataValidations}}
  @onSubmit={{action this.saveMetadata}} as |form|>

  <form.element
    @controlType="text"
    @label="Collection Title"
    @placeholder="Collection Title"
    @property="collectionTitle" />

  <form.element
    @controlType="textarea"
    @label="Description"
    @placeholder="Description"
    @property="description" />

  <form.element
    @controlType="text"
    @label="Keywords"
    @placeholder="Keywords"
    @property="keywords" />

  <BsButton
    @defaultText="Save"
    @type="outline-primary"
    @buttonType="submit"
    @disabled={{form.isSubmitting}}>

    {{#if form.isSubmitting}}<div class="spinner-border spinner-border-sm" role="status" />{{/if}}
  </BsButton>
</BsForm>

<h3 class="mr-auto">Authors</h3>
<button
  class="btn btn-outline-primary"
  {{on "click" this.addAuthor}}>
  Add Author
</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Affiliation</th>
    </tr>
  </thead>
  <tbody>
  {{#each this.args.metadata.authors as |author|}}
    <tr>
      <td>{{author.name}}</td>
      <td>{{author.affiliation}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{#each this.args.metadata.authors as |author index|}}
  <BsForm
    local-class="author-form"
    @model={{changeset author AuthorValidations}}
    @onSubmit={{action this.saveAuthor}} as |form|>
    <div class="d-flex flex-row align-items-center">

      <form.element
        class="w-50 m-1"
        @controlType="text"
        @label="Author Name"
        @placeholder="Author Name"
        @property="name" />

      <form.element
        class="w-50 m-1"
        @controlType="text"
        @label="Author Affiliation"
        @placeholder="Author Affiliation"
        @property="affiliation" />

      {{#unless (eq this.args.metadata.authors.length 1)}}
        <FaIcon
          class="text-danger m-1"
          @icon="times"
          @size="1x"
          {{on "click" (fn this.removeAuthor author)}} />
      {{/unless}}
    </div>
  </BsForm>
{{/each}}