{{!--
  Display a files list for a Data Archive deposit. If there are any `requiredActions` on the parent
  submission that point to any of the files displayed here, that file should be red.
  --}}

{{yield}}

<div class="container-fluid" data-test-files-list>
  {{#each filesWithActions as |grp index|}}
    <FileCard @fileGrp={{grp}} @removeAction={{@removeAction}} @editable={{editable}} @index={{index}}/>
  {{/each}}
</div>
