{{!--
  Display a files list for a Data Archive deposit. If there are any `requiredActions` on the parent
  submission that point to any of the files displayed here, that file should be red.
  --}}

{{yield}}

<div class="container-fluid" data-test-files-list>
  {{#each filesWithActions as |grp|}}
    <FileCard @fileGrp={{grp}} @removeAction={{@removeAction}} @editAction={{@editAction}}
        @editable={{editable}}/>
  {{/each}}
</div>
