<div class="col-4">
  <div class="card border {{if hasActions "border-danger text-danger"}}">
    <div class="card-header">
      <h5 class="card-title m-0 p-0">{{file.name}}</h5>
    </div>
    <div class="card-body">
      <p class="card-text">{{file.description}}</p>
      <p class="card-text">{{file.externalId}}</p>
      <div class="card-text border-top border-bottom py-2 mb-2">
        <strong>Status: </strong>{{file.status}}
      </div>
      <div class="clearfix pt-2">
        {{#if @removeAction}}
          <button type="button" class="btn btn-primary ml-2 float-right" onclick={{action "doRemove" file}} data-test-file-remove-btn>
            Remove
          </button>
        {{/if}}
        {{#if @editAction}}
          <button type="button" class="btn btn-primary float-right" data-test-file-edit-btn>
            Edit
          </button>
        {{/if}}
      </div>
      {{#if hasActions}}
        <div data-test-action-messages>
          {{#each actions as |action|}}
            <div class="w-100 mb-2">{{action.details}}</div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
</div>