<div data-test-file-card
    class="row pt-2 border {{if this.noTop "border-top-0"}} {{if this.hasActions "border-danger border-bottom-0" "border-dark"}}">
  <div class="col-3">
    <p class="text-break font-weight-bold">{{this.file.name}}</p>
  </div>
  <div class="col">
    {{#if editing}}
      <Textarea @value={{this.file.description}} class="w-100" rows="4" data-test-description-editor
          placeholder="Enter a description for this file" />
    {{else}}
      <p>{{this.file.description}}</p>
    {{/if}}
  </div>
  <div class="col-1" data-test-file-card-status>
    {{this.file.status}}
  </div>
  {{#if @editable}}
    <div class="col-2">
      <div class="h-100 d-flex align-items-center justify-content-end mt-n2">
        {{#if this.editing}}
          <button type="button" class="btn btn-outline-success" {{action this.saveMd}}
              data-test-save-filedesc-btn title="Save changes">
            <i class="fas fa-check"></i>
            <span class="sr-only">Save</span>
          </button>
          <button type="button" class="btn btn-outline-secondary ml-2" {{action this.cancelEdit}}
              data-test-cancel-edit-btn title="Cancel">
            <i class="fas fa-times"></i>
            <span class="sr-only">Cancel</span>
          </button>
        {{else}}
          {{!-- The card handles editing, so no need to pass an editAction --}}
          <button type="button" class="btn btn-primary" {{action this.toggleEditing}}
              data-test-file-edit-btn title="Edit description for this file">
            <i class="fas fa-edit"></i>
            <span class="sr-only">Edit</span>
          </button>
          {{#if @removeAction}}
            <button type="button" class="btn btn-outline-danger ml-2" {{action @removeAction this.file}}
                data-test-file-remove-btn title="Remove this file">
              <i class="fas fa-trash-alt"></i>
              <span class="sr-only">Remove</span>
            </button>
          {{/if}}
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>
{{#if this.hasActions}}
  <div class="row border border-danger border-top-0 text-danger py-2" data-test-action-messages>
    <div class="col-2 text-right">Changes required:</div>
    <div class="col">
      <ul class="m-0 p-0" >
        {{#each this.actions as |action|}}
          <li class="">{{action.details}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}