<h3 class="w-100">Files</h3>

{{outlet}}

<p>
  The user will be able to select files from their OneDrive account and/or upload files that they
  want to be included in this submission.
</p>

<h3 class="border-top border-bottom w-100 py-4 my-4">Placeholder for file picker(s)</h3>

<FilesList @files={{this.files}} @submissionActions={{this.submissionActions}}
    @removeAction={{action this.removeFile}} @editable={{this.editable}}/>
