<div class="row">
  <div class="col">
    {{#if this.metadata.title}}
      <h2 class="w-100">{{this.metadata.title}}</h2>
    {{else}}
      <h2>Submission</h2>
    {{/if}}
  </div>
  <div>
    <SubmissionActionCell @record={{this.submission}} />
  </div>
</div>
<div class="row">
  <ul>
    <li><strong>Status:</strong> {{this.submission.status}}</li>
    <li><strong>Metadata status:</strong> {{this.submission.metadataStatus}}</li>
    <li><strong>Files status:</strong> {{this.submission.filesStatus}}</li>
    <li>
      <span><strong># of files:</strong> {{this.submission.files.length}}</span>
    </li>
  </ul>
</div>
<div class="row">
  <span class="w-100 font-italic">Metadata should be displayed nicely below</span>
  <ul>
    {{#each this.mdDisplay as |datum|}}
      <li><strong>{{datum.label}}:</strong> {{datum.value}}</li>
    {{/each}}
  </ul>
</div>
<div class="row">
  <h3 class="w-100">Files</h3>
  <FilesList @files={{this.submission.files}} @submissionActions={{this.submission.requiredActions}}/>
</div>
